*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    pointer-events: none;
    cursor: pointer;
}
.core-navigation{
    width: 100%;
    background: rgba(22, 22, 23, .8);
    z-index: 2;
    position: fixed;
    justify-content: center;
}
.main-navigation{
margin: 0 auto;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
max-width: 1024px;   
color: aliceblue;
/* position: fixed; */

}
.main-navigation a{
font-size: 11.43px;
margin: 0 auto;   
width: auto;
height: 44px;
display: flex;
justify-content: space-between;
color: #cbcbcb;
align-items: center;
font-family: sans-serif;
letter-spacing: 0.5px;
z-index: 4;

}
.main-navigation a:hover{
    color: #FFFFFF;
}
svg{
    margin: 0 16px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: space-between;
    color: #cbcbcb;
    cursor: pointer;
    color:white;
}
.section-one{
    justify-content: center;
    text-align: center;
}
.img-macbook{
   
    background-image: url(https://www.apple.com/v/home/bf/images/heroes/macbook-pro-14-and-16/hero_mbp__fx6ku12vgw2m_large.jpg);
    
}
.img-edit{
    align-items: center;
    justify-content: center;
    background-position: center;
    width: 3008;
    height: 624px;
    background-size: 3008px 624px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 91px;
    margin-top: 91;
    margin-bottom: 10px;
}
.headline-edit{
    text-align: center;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #1d1d1f;
}
h2{
    width: auto;
    padding: 0;
    margin: 0;
    
}
h3 {
    display: block;
    font-size: 1.17em;
    
}
.subhead-edit{
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
    color: #1d1d1f;
}

a{
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(41, 151, 255);
    letter-spacing: inherit;
    margin-right: 35px;
}
.anchor{
    margin-top: 20px;
}
.img-iphone{
    background-image: url(https://www.apple.com/v/home/bf/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_large_2x.jpg);

}
.iphone-headline{
color:  #f5f5f7;
}
.iphone-subhead{
    color: #f5f5f7;
}
.img-iphone-new{
    background-image: url(https://www.apple.com/v/home/bf/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_large_2x.jpg);
}
.second-main{
    padding: 0 1px;
    display: grid;
}
.sub-second-main{

width: auto;
    box-sizing:border-box;
    overflow: visible;
    
    display: flex;
    
    flex-direction:column;
    padding: 10px;
}
.sub-second-main .imgDiv {
    width: auto;
    display: flex;
    flex-direction:row;
    
}

.imgDiv img {

width:631px;
height: 580px;
background-size:631px 580px;
}
 
.subimgOne{
  background-image: url(https://www.apple.com/v/home/bf/images/promos/apple-watch-series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_large.jpg);
  background-image: url(https://www.apple.com/v/home/bf/images/heroes/macbook-pro-14-and-16/hero_mbp__fx6ku12vgw2m_large.jpg);
}

.subimgTwo{
    background-image: url(https://www.apple.com/v/home/bf/images/promos/holiday-2023/holiday_2023_promo__dirvdl6a3r2a_large_2x.jpg);
    background-image: url(https://www.apple.com/v/home/bf/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_large_2x.jpg);
}
.hafimg{
    width:631px;
    height: 580px;
    background-size:631px 580px; 
}
















@media screen and (max-width: 1440px) and (min-width: 1069px) and (max-height: 775px) and (min-height: 0px){
.main .medea-two {
    --content-height: 580px;
    --columns: 1;
    --gutter-width: 12px;
    --gutter-half-width: 6px;
    --gutter-and-half-width: 18px;
    --gutter-color: #fff;
    --double-edge-border-width: 0px;
    --edge-border-width: 0px;
    --background-color: #fbfbfd;
    --text-color: #1d1d1f;
    --edge-border-width-fallback: 0px;
}
}